.search-text {
    width: 50vw;
    padding: 20px;
    border: 1px solid #070202;
    border-radius: 50px;
    margin: auto;
}
.btn-color {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
}
.row-content {
    margin-top: 150px;
}
.a-search-text {
    width: 500px;
}
.btn-blue {
    background-color: #4d90fe;
    color: aliceblue;
}